{% extends 'backend/base.html.twig' %}
{% block title %}
  Tablero
{% endblock %}
{% block context %}
  <div class="card">
    <div class="card-header">
      Nuevo paquete
    </div>
    <div class="card-body">
      {{ include('backend/payment_for_jobs/_form.html.twig') }}
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script>
    $(function () { $('#pago-finalizdo').click(function(){
    $('#pago-finalizado-input').select(); document.execCommand("copy"); });

    $('#pago-candelado').click(function(){ $('#pago-candelado-input').select();
    document.execCommand("copy"); }); })
  </script>
{% endblock %}
