<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="{{ asset('site/css/verificate.css') }}">
</head>
{#{% inky %} #}{# inky-tag for inky-template support  #}
<body>
{% block body %}
    <center>
        {% block content %}
            <h2>Hola {{ app.user.username }}, para completar su registro introduzca el código que hemos enviado a {{ app.user.email }}</h2>

            {% if error is defined %}
                {{ error }}
            {% endif %}
            <form action="" method="post">
                <label class="label" for="code">Código de verificación</label>
                <br>
                <input  id="code" name="code" type="text">
                <br>
                <button type="submit">Verificar</button>
            </form>
        {% endblock %}
    </center>
{% endblock %}
</body>
{#{% endinky %}#}
</html>