<div class="container">
    <div class="row">
        <div class="col-12">
            Conversación con {{ candidato.name }}
        </div>
        {% for c in conversaciones %}
        <div class="col-12 bg-gradient-primary">
            <div class="row">
                <div class="col-4">
                    <div class="text-secondary">
                        {{ c.creator}}
                    </div>
                    <p class="text-muted" style="font-size: 8px;">
                        {{ c.date|date('d-m-Y') }}
                    </p>
                </div>
                <div class="col-8">
                    <div class="text-block"
                        style="float: right !important; margin-top: 5px; position: relative;!important">
                        {{ c.context|raw }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <hr>
        </div>
        {% endfor %}
    </div>
</div>