{#{% if expired is null %}#}
    {#<div class="row">#}
        {#<div class="col-md-12 text-center">#}
            {#<span class="badge badge-warning span-info">Bienvenido, antes de publicar seleccione su plan preferido, puede optar por una publicación gratuita</span>#}
        {#</div>#}
    {#</div>#}
{#{% endif %}#}