<div class="col-md-6">
    <div class="package breadcrumb-form ">
        <div class="container">
            {% if app.user.package.name is defined %}
            <div class="row border payment-method payment-container">
                <div class="col-md-4" style="text-align: center">
                    <h5>Tu plan es</h5>
                </div>
                <div class="col-md-4">
                    <button type="button" class="disabled btn btn-secondary btn-lg btn-block">{{ app.user.package.name }}</button>
                </div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-primary btn-lg btn-block parpadea text">Cambiar plan</button>
                </div>
            </div>
            {% else %}
            <div class="row border payment-method payment-container">
                <div class="col-md-5">
                    <button type="button" class="btn btn-primary btn-lg btn-block parpadea text">Compra tu plan ahora!</button>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>