
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/composer.lock
###< symfony/framework-bundle ###

/.web-server-pid
/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/uploads/
/web/media/
/web/build
/media/cache
.idea/
deploy/logs
node_modules/

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
public/site/images/upload/company/5c80260583b0b249108046.jfif
public/site/images/upload/company/5c804470c13a4578630848.png
public/site/images/upload/company/5c802ae69bc27680267386.png
public/site/images/upload/company/5c802889a1bfc995951731.png
public/site/images/upload/company/5c8025360ca2d994571668.png
public/site/images/upload/company/5c80222b218ce195996974.png
public/site/images/upload/company/5c8022137b480775735136.png
public/images/user/5c7ffa023b9e4358102512.jfif

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
/nbproject/private/
