{% extends 'backend/base.html.twig' %}

{% block title %}Professions index{% endblock %}

{% block context %}
    <h1 class="h3 mb-2 text-gray-800">Profesiones</h1>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Listado</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                {{ sg_datatables_render_html(datatable) }}
            </div>
        </div>
    </div>

    <a href="{{ path('profession_new') }}" class="btn btn-primary"><i class="fas fa-plus"></i>Adicionar</a>
{% endblock %}
{% block scripts %}
    {{ sg_datatables_render_js(datatable) }}
{% endblock %}