{% extends 'bundles/FOSUserBundle/layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}
    Información de Recuperación
{% endblock %}

{% block body %}
    <div class="form-box pt-5 mt-5">
        <div class="form-top pt-5 mt-5">
            <div class="form-top-left text-center">
                <h3> Información de Recuperación</h3>
            </div>
        </div>
        <div  class="text-center" class="form-bottom">
            <p style="color: #333">
                {{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime},'FOSUserBundle','es')|nl2br }}
            </p>
            <a href="{{ path('fos_user_resetting_request') }}" class="btn btn-primary pull-right">
                Volver a enviar código</a>
        </div>
    </div>

{% endblock %}
