<div id='main-wrapper'>
    <div class='tyard-wrapper'>
        <div class='featured preload section' id='featured'>
            <div class='widget HTML' data-version='1' id='HTML299'>
                <div class='widget-content'>
                    <span data-type="tyard" data-label="News"></span>
                </div>
            </div>
        </div>
    </div>
    <div style='clear: both;'></div>
    <div id='ads-blog'>
        <div class='ad-home-widget section' id='adwidegt1' name='Home Ad Widget'>
            <div class='widget HTML' data-version='1' id='HTML90'>
                <h2 class='title'>Post Top Ad</h2>
                <div class='widget-content'>
                    <span>
                        <center>
                            <a href="http://www.templatesyard.com/">
                                <img alt="LightBlog" src="http://4.bp.blogspot.com/-_vd60vnaZiQ/U1zU7LvHjdI/AAAAAAAAB0w/sH4jObMJr9k/s1600/head-banner.png">
                            </a>
                        </center>
                    </span>
                </div>
            </div>
        </div>
        <div style='clear: both;'></div>
    </div>
    <div id='ads-blog'>
        <div class='ad-top-widget section' id='adwidegt2' name='Post Top Ad Widget'>
            <div class='widget HTML' data-version='1' id='HTML95'>
                <h2 class='title'>Post Top Ad</h2>
                <div class='widget-content'>
                    <span>
                        <div style="width:100%;height:90px;background:#f1e791;margin:0 auto;text-align: center;line-height: 90px;color: #fff;text-transform: uppercase;font-family: inherit;font-size: 30px;font-weight: bold;cursor: pointer;">
                            Your Ad Spot
                        </div>
                    </span>
                </div>
            </div>
        </div>
        <div style='clear: both;'></div>
    </div>
    <div class='main section' id='main'>

        <div class='widget Blog' data-version='1' id='Blog1'>

            <div class='blog-posts hfeed'>
                {% block post %}

                {% endblock %}
            </div>

            <div class='blog-pager' id='blog-pager'>
                <span id='blog-pager-older-link'>
                <a class='blog-pager-older-link' href='searchd553.html?updated-max=2015-01-05T14:02:00-08:00&amp;max-results=7'
                   id='Blog1_blog-pager-older-link' title='Older Posts'>Older Posts</a>
                </span>
                <a class='home-link' href='{{ path('homepage') }}'>Inicio</a>
            </div>
            <div class='clear'></div>
            <div class='blog-feeds'>
            </div>
        </div>
        <div class='widget HTML' data-version='1' id='HTML901'>
        </div>
        <div class='widget HTML' data-version='1' id='HTML902'>
        </div>
    </div>
    <div id='ads-blog'>
        <div class='ad-bottom-widget section' id='adwidegt3' name='Post Bottom Ad Widget'>
            <div class='widget HTML' data-version='1' id='HTML98'>
                <h2 class='title'>Post Top Ad</h2>
                <div class='widget-content'>
    <span>
    <div style="width:100%;height:90px;background:#ee802f;margin:0 auto;text-align: center;line-height: 90px;color: #fff;text-transform: uppercase;font-family: inherit;font-size: 30px;font-weight: bold;cursor: pointer;"> Your Ad Spot</div></span>
                </div>
            </div>
        </div>
        <div style='clear: both;'></div>
    </div>
    <div class='post-author-widget section' id='Postwidegt1' name='Post Author Details'>
        <div class='widget HTML' data-version='1' id='HTML10'>
            <h2 class='title'>Author Details</h2>
            <div class='widget-content'>

            </div>
        </div>
    </div>
    <div class='post-author-social section' id='Postwidegt2' name='Post Author Social Profiles'>
        <div class='widget LinkList' data-version='1' id='LinkList1'>
            <div class='widget-content'>
                <ul>
                    <li><a href='#'><i class="fa fa-facebook"></i></a></li>
                    <li><a href='#'><i class="fa fa-twitter"></i></a></li>
                    <li><a href='#'><i class="fa fa-google-plus"></i></a></li>
                    <li><a href='#'><i class="fa fa-instagram"></i></a></li>
                    <li><a href='#'><i class="fa fa-pinterest"></i></a></li>
                    <li><a href='#'><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

