<div id='sidebar-wrapper'>
    <div class='sidebar ty-trigger section' id='sidebar(1)' name='sidebar - 1'>
        <div class='widget HTML' data-version='1' id='HTML2'>
            <h2 class='title'>Redes Sociales</h2>
            <div class='widget-content'>
                <style>
                    /* Social Counter
                    --------------------------------------*/
                    li.social_item-wrapper {
                        float: right;
                        width: 48%;
                        text-align: center;
                        margin-left: 4% !important;
                        margin-bottom: 10px !important;
                        color: #fff;
                    }

                    #sidebar .widget {
                        margin-bottom: 35px;
                    }

                    a.social_item {
                        position: relative;
                        display: block;
                        height: 60px;
                        line-height: 60px;
                        overflow: hidden;
                    }

                    .social_item-wrapper:nth-child(2n+2) {
                        margin-left: 0 !important;
                    }

                    .social_icon {
                        float: left;
                        line-height: 60px;
                        width: 41px;
                        font-size: 1.3rem;
                    }

                    a.social_item.social_facebook {
                        background: #3F5B9B;
                    }

                    .fa-facebook.social_icon {
                        background: #2E4372;
                    }

                    li.social_item-wrapper:hover .fa-facebook.social_icon {
                        background: #3F5B9B;
                    }

                    li.social_item-wrapper:hover .social_facebook {
                        background: #2E4372;
                    }

                    a.social_item.social_twitter {
                        background: #1C97DE;
                    }

                    .fa-twitter.social_icon {
                        background: #1571A5;
                    }

                    li.social_item-wrapper:hover .fa-twitter.social_icon {
                        background: #1C97DE;
                    }

                    li.social_item-wrapper:hover .social_twitter {
                        background: #1571A5;
                    }

                    a.social_item.social_youtube {
                        background: #E22020;
                    }

                    .fa-youtube.social_icon {
                        background: #B31919;
                    }

                    li.social_item-wrapper:hover .fa-youtube.social_icon {
                        background: #E22020;
                    }

                    li.social_item-wrapper:hover .social_youtube {
                        background: #B31919;
                    }

                    a.social_item.social_dribbble {
                        background: #E82159;
                    }

                    .fa-dribbble.social_icon {
                        background: #B51A45;
                    }

                    li.social_item-wrapper:hover .fa-dribbble.social_icon {
                        background: #E82159;
                    }

                    li.social_item-wrapper:hover .social_dribbble {
                        background: #B51A45;
                    }

                    a.social_item.social_rss {
                        background: #E86321;
                    }

                    .fa-rss.social_icon {
                        background: #C2521B;
                    }

                    li.social_item-wrapper:hover .fa-rss.social_icon {
                        background: #E86321;
                    }

                    li.social_item-wrapper:hover .social_rss {
                        background: #C2521B;
                    }

                    a.social_item.social_google-plus {
                        background: #E82C2C;
                    }

                    .fa-google-plus.social_icon {
                        background: #BF2424;
                    }

                    li.social_item-wrapper:hover .fa-google-plus.social_icon {
                        background: #E82C2C;
                    }

                    li.social_item-wrapper:hover .social_google-plus {
                        background: #BF2424;
                    }

                    a.social_item.social_linkedin {
                        background: #0275B6;
                    }

                    .fa-linkedin.social_icon {
                        background: #02669E;
                    }

                    li.social_item-wrapper:hover .fa-linkedin.social_icon {
                        background: #0275B6;
                    }

                    li.social_item-wrapper:hover .social_linkedin {
                        background: #02669E;
                    }

                    a.social_item.social_instagram {
                        background: #8E714D;
                    }

                    .fa-instagram.social_icon {
                        background: #6F583C;
                    }

                    li.social_item-wrapper:hover .fa-instagram.social_icon {
                        background: #8E714D;
                    }

                    li.social_item-wrapper:hover .social_instagram {
                        background: #6F583C;
                    }

                    a.social_item.social_pinterest {
                        background: #CA2027;
                    }

                    .fa-pinterest.social_icon {
                        background: #AB1B21;
                    }

                    li.social_item-wrapper:hover .fa-pinterest.social_icon {
                        background: #CA2027;
                    }

                    li.social_item-wrapper:hover social_pinterest {
                        background: #AB1B21;
                    }

                    ul.social-counter a {
                        color: #fff;
                    }
                </style>
                <div class="socialcounter">
                    <ul class="social-counter">
                        <li class="social_item-wrapper">
                            <a href="#" class="social_item social_facebook">
                                <i class="fa fa-facebook social_icon"></i>
                                <span class="social_num">
                                    230,000
                                </span>
                            </a>
                        </li>
                        <li class="social_item-wrapper">
                            <a href="#" class="social_item social_twitter">
                                <i class="fa fa-twitter social_icon"></i>
                                <span class="social_num">
                                    230,000
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div style='clear: both;'></div>
    {#<div class='sidetabs' id='sidetabs'>#}
        {#<ul class='menu-tab'>#}
            {#<li class='item-1'><a href='#tabside1'></a></li>#}
            {#<li class='item-2'><a href='#tabside2'></a></li>#}
            {#<li class='item-3'><a href='#tabside3'></a></li>#}
        {#</ul>#}
        {#<div class='sidebar ty-trigger section' id='tabside1' name='Tab 01'>#}
            {#<div class='widget HTML' data-version='1' id='HTML3'>#}
                {#<h2 class='title'>Recent</h2>#}
                {#<div class='widget-content'>#}
                    {#<span class="latestposts" data-no="5"></span>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
        {#<div class='sidebar ty-trigger section' id='tabside2' name='Tab 02'>#}
            {#<div class='widget PopularPosts' data-version='1' id='PopularPosts1'>#}
                {#<h2>Popular</h2>#}
                {#<div class='widget-content popular-posts'>#}
                    {#<ul>#}
                        {#<li>#}
                            {#<div class='item-content'>#}
                                {#<div class='item-thumbnail'>#}
                                    {#<a href='2016/08/10-steps-to-prepare-your-home-for_1.html'>#}
                                        {#<img alt='10 steps to prepare your home for a Kitten-about Kitten Care'#}
                                             {#border='0' height='72'#}
                                             {#src='http://3.bp.blogspot.com/-pCnXiI-71ig/WVAlkjSbFRI/AAAAAAAAAjY/FAvehswrSTkMVa9wjTZt0i-CihC1GwhSACLcBGAs/s72-c/i_8.jpg'#}
                                             {#width='72'/>#}
                                    {#</a>#}
                                {#</div>#}
                                {#<div class='item-title'><a#}
                                            {#href='2016/08/10-steps-to-prepare-your-home-for_1.html'>10 steps to#}
                                        {#prepare your home for a Kitten-about Kitten Care</a></div>#}
                                {#<div class='item-snippet'>Ut wisi enim ad minim veniam, quis nostrud exerci#}
                                    {#tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo#}
                                    {#consequat. Duis autem v...#}
                                {#</div>#}
                            {#</div>#}
                            {#<div style='clear: both;'></div>#}
                        {#</li>#}
                        {#<li>#}
                            {#<div class='item-content'>#}
                                {#<div class='item-thumbnail'>#}
                                    {#<a href='2016/07/the-best-smartphones-you-can-purchase_1.html'>#}
                                        {#<img alt='The Best smartphones you can purchase right now in 2016'#}
                                             {#border='0' height='72'#}
                                             {#src='http://3.bp.blogspot.com/-_Y1Y_GzAs58/WVAmobxtLEI/AAAAAAAAAjk/Bbm9o5MGenwf1_pL0qiPqKvPz1MeKUONgCLcBGAs/s72-c/i_7.jpg'#}
                                             {#width='72'/>#}
                                    {#</a>#}
                                {#</div>#}
                                {#<div class='item-title'><a#}
                                            {#href='2016/07/the-best-smartphones-you-can-purchase_1.html'>The Best#}
                                        {#smartphones you can purchase right now in 2016</a></div>#}
                                {#<div class='item-snippet'>Ut wisi enim ad minim veniam, quis nostrud exerci#}
                                    {#tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo#}
                                    {#consequat. Duis autem v...#}
                                {#</div>#}
                            {#</div>#}
                            {#<div style='clear: both;'></div>#}
                        {#</li>#}
                        {#<li>#}
                            {#<div class='item-content'>#}
                                {#<div class='item-thumbnail'>#}
                                    {#<a href='2015/03/the-6-things-every-driver-should-know_4.html'>#}
                                        {#<img alt='The 6 things every driver should know How to Do' border='0'#}
                                             {#height='72'#}
                                             {#src='http://3.bp.blogspot.com/-6PAEE-byox0/WVAm6ETGqMI/AAAAAAAAAjw/YwjqPPvE0DYdxVD_8Z0Q9a7tzndXQXuKwCEwYBhgL/s72-c/i_3-810x541.jpg'#}
                                             {#width='72'/>#}
                                    {#</a>#}
                                {#</div>#}
                                {#<div class='item-title'><a#}
                                            {#href='2015/03/the-6-things-every-driver-should-know_4.html'>The 6#}
                                        {#things every driver should know How to Do</a></div>#}
                                {#<div class='item-snippet'>Ut wisi enim ad minim veniam, quis nostrud exerci#}
                                    {#tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo#}
                                    {#consequat. Duis autem v...#}
                                {#</div>#}
                            {#</div>#}
                            {#<div style='clear: both;'></div>#}
                        {#</li>#}
                        {#<li>#}
                            {#<div class='item-content'>#}
                                {#<div class='item-thumbnail'>#}
                                    {#<a href='2016/06/catch-travel-bug-and-visit-100-places_8.html'>#}
                                        {#<img alt='Catch the travel bug and visit 100 places Before You Die'#}
                                             {#border='0' height='72'#}
                                             {#src='http://2.bp.blogspot.com/-wlt4Zw54awM/WVAm7qfi0NI/AAAAAAAAAj0/flp7JqNPrZUACvkr7xrHhSt6d2PkyH-mACLcBGAs/s72-c/i_9.jpg'#}
                                             {#width='72'/>#}
                                    {#</a>#}
                                {#</div>#}
                                {#<div class='item-title'><a#}
                                            {#href='2016/06/catch-travel-bug-and-visit-100-places_8.html'>Catch#}
                                        {#the travel bug and visit 100 places Before You Die</a></div>#}
                                {#<div class='item-snippet'>Lorem ipsum dolor sit amet, consectetur adipiscing#}
                                    {#elit. Nulla elementum viverra pharetra. Nulla facilisis, sapien non pharetra#}
                                    {#venenatis, t...#}
                                {#</div>#}
                            {#</div>#}
                            {#<div style='clear: both;'></div>#}
                        {#</li>#}
                        {#<li>#}
                            {#<div class='item-content'>#}
                                {#<div class='item-thumbnail'>#}
                                    {#<a href='2015/02/man-in-new-zealand-quits-his-job-to_1.html'>#}
                                        {#<img alt='Man in New Zealand quits his job to play Pokemon Go full-time'#}
                                             {#border='0' height='72'#}
                                             {#src='http://3.bp.blogspot.com/-ln2SDM7Qoa0/WVAm6JYdpqI/AAAAAAAAAjs/tPwhkX6tZUct4XinjGcQrQciUGojt6ufgCEwYBhgL/s72-c/i_4-810x540.jpg'#}
                                             {#width='72'/>#}
                                    {#</a>#}
                                {#</div>#}
                                {#<div class='item-title'><a#}
                                            {#href='2015/02/man-in-new-zealand-quits-his-job-to_1.html'>Man in New#}
                                        {#Zealand quits his job to play Pokemon Go full-time</a></div>#}
                                {#<div class='item-snippet'>Lorem ipsum dolor sit amet, consectetur adipiscing#}
                                    {#elit. Nulla elementum viverra pharetra. Nulla facilisis, sapien non pharetra#}
                                    {#venenatis, t...#}
                                {#</div>#}
                            {#</div>#}
                            {#<div style='clear: both;'></div>#}
                        {#</li>#}
                    {#</ul>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
        {#<div class='sidebar ty-trigger section' id='tabside3' name='Tab 03'>#}
            {#<div class='widget HTML' data-version='1' id='HTML5'>#}
                {#<h2 class='title'>Comment</h2>#}
                {#<div class='widget-content'>#}
                    {#<span class="latestcomments" data-no="5"></span>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}

    {#<div style='clear: both;'></div>#}
    {#<div class='sidebar ty-trigger section' id='sidebar(2)' name='sidebar - 2'>#}
        {#<div class='widget BlogArchive' data-version='1' id='BlogArchive1'>#}
            {#<h2>Archive</h2>#}
            {#<div class='widget-content'>#}
                {#<div id='ArchiveList'>#}
                    {#<div id='BlogArchive1_ArchiveList'>#}
                        {#<select id='BlogArchive1_ArchiveMenu'>#}
                            {#<option value=''>Archive</option>#}
                            {#<option value='2016/08/index.html'>August (1)</option>#}
                            {#<option value='2016/07/index.html'>July (1)</option>#}
                            {#<option value='2016/06/index.html'>June (1)</option>#}
                            {#<option value='2015/03/index.html'>March (2)</option>#}
                            {#<option value='2015/02/index.html'>February (1)</option>#}
                            {#<option value='2015/01/index.html'>January (1)</option>#}
                            {#<option value='2014/08/index.html'>August (4)</option>#}
                            {#<option value='2014/07/index.html'>July (1)</option>#}
                            {#<option value='2014/02/index.html'>February (2)</option>#}
                            {#<option value='2013/08/index.html'>August (2)</option>#}
                        {#</select>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
        {#<div class='widget HTML' data-version='1' id='HTML8'>#}
            {#<div class='widget-content'>#}
                {#<div style="width:100%;height:250px;margin:0 auto;text-align: center;line-height: 250px;color: #aaa;text-transform: uppercase;font-size: 150%;font-weight: 500;cursor: pointer;background: #f2f2f2;box-sizing: border-box;font-family: Montserrat;">#}
                    {#Ad Banner#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
        {#<div class='widget HTML' data-version='1' id='HTML4'>#}
            {#<h2 class='title'>Sports</h2>#}
            {#<div class='widget-content'>#}
                {#<span class="tagpost" data-label="Sport" data-no="5"></span>#}
            {#</div>#}
        {#</div>#}
        {#<div class='widget Label' data-version='1' id='Label1'>#}
            {#<h2>Categories</h2>#}
            {#<div class='widget-content cloud-label-widget-content'>#}
    {#<span class='label-size label-size-4'>#}
    {#<a dir='ltr' href='search/label/Break.html'>Break</a>#}
    {#</span>#}
                {#<span class='label-size label-size-1'>#}
    {#<a dir='ltr' href='search/label/DIY.html'>DIY</a>#}
    {#</span>#}
                {#<span class='label-size label-size-1'>#}
    {#<a dir='ltr' href='search/label/Fashion.html'>Fashion</a>#}
    {#</span>#}
                {#<span class='label-size label-size-1'>#}
    {#<a dir='ltr' href='search/label/Food.html'>Food</a>#}
    {#</span>#}
                {#<span class='label-size label-size-1'>#}
    {#<a dir='ltr' href='search/label/gadgets.html'>gadgets</a>#}
    {#</span>#}
                {#<span class='label-size label-size-1'>#}
    {#<a dir='ltr' href='search/label/ipad.html'>ipad</a>#}
    {#</span>#}
                {#<span class='label-size label-size-1'>#}
    {#<a dir='ltr' href='search/label/Mobile.html'>Mobile</a>#}
    {#</span>#}
                {#<span class='label-size label-size-5'>#}
    {#<a dir='ltr' href='search/label/News.html'>News</a>#}
    {#</span>#}
                {#<span class='label-size label-size-1'>#}
    {#<a dir='ltr' href='search/label/Slider.html'>Slider</a>#}
    {#</span>#}
                {#<span class='label-size label-size-5'>#}
    {#<a dir='ltr' href='search/label/Sport.html'>Sport</a>#}
    {#</span>#}
                {#<span class='label-size label-size-1'>#}
    {#<a dir='ltr' href='search/label/Technology.html'>Technology</a>#}
    {#</span>#}
                {#<span class='label-size label-size-1'>#}
    {#<a dir='ltr' href='search/label/Travel.html'>Travel</a>#}
    {#</span>#}
                {#<span class='label-size label-size-4'>#}
    {#<a dir='ltr' href='search/label/Video.html'>Video</a>#}
    {#</span>#}
                {#<span class='label-size label-size-1'>#}
    {#<a dir='ltr' href='search/label/Watch.html'>Watch</a>#}
    {#</span>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
</div>
