<div class='tm-menu'>
    <div class='body-row menu-wrap'>
        <li class='hub-home'>
            <a href='{{ path('homepage') }}'>
                <i class='fa fa-home'></i>
            </a>
        </li>
        <div class='menu section' id='menu' name='Main Menu'>
            <div class='widget LinkList' data-version='1' id='LinkList210'>
                <div class='widget-content'>
                    <ul itemscope='' itemtype='http://schema.org/SiteNavigationElement'>

                        <li itemprop='name'>
                            <a href='#' itemprop='url'>Candidatos</a>
                        </li>
                        <li itemprop='name'>
                            <a href='#'itemprop='url'>Reclutadores</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class='header-search'>
            <li>
                {#<a class='search'>#}
                    {#<form action='https://sora-one-soratemplates.blogspot.com/search/max-results=7' method='get'>#}
                        {#<input id='s' name='q' placeholder='Type and hit enter...' type='text'/>#}
                    {#</form>#}
                {#</a>#}
            </li>
        </div>
    </div>
</div>
