{% extends 'backend/base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block context %}
    <h1 class="h3 mb-2 text-gray-800">Categorias</h1>
    {#<p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more#}
        {#information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official#}
            {#DataTables documentation</a>.</p>#}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Listado</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                {{ sg_datatables_render_html(categories) }}
            </div>
        </div>
    </div>

    <a href="{{ path('category_new') }}">Create new</a>
{% endblock %}
{% block scripts %}
    {{ sg_datatables_render_js(categories) }}
{% endblock %}
