<div class="container-fluid">
    <div class="row">
        {% for respuesta_consultum in respuesta_consultas %}
        <div class="col-md-12">
            {{ respuesta_consultum.texto |raw}}
            <p class="text-muted" style="font-size: 9px;">{{ respuesta_consultum.createdAt ?
                respuesta_consultum.createdAt|date('d/m/Y
                H:i') : '' }}</p>
        </div>
        {% endfor %}
    </div>
</div>