<div class="card">
    <div class="card-header">
        Respuesta de consulta
    </div>
    <div class="card-body">
        {% if respuesta_consultum is not null %}
        <th>Fecha</th>
        <td>{{ respuesta_consultum.createdAt ? respuesta_consultum.createdAt|date('Y-m-d H:i:s') : '' }}</td>
        <th>Texto</th>
        <td>{{ respuesta_consultum.texto }}</td>
        {% else %}
            <p class="text-muted">No hay respuestas</p>
        {% endif %}
    </div>
</div>
