{# Este contenido se debe cargar dinamicamente, de momento estara estatico a modo de disenno #}

<div class="section-padding-top padding-bottom-90">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="company-carousel owl-carousel">
                    <div class="company-wrap">
                        <div class="thumb" style="height: 150px!important;">
                            <a href="#">
                                <img src="{{ asset('images/default/company_img (1).gif') }}" class="img-fluid" alt="">
                            </a>
                        </div>
                        <div class="body">
                            <h4><a href="#">Compañía X</a></h4>
                            <span>Quito, Ecuador</span>
                            <a href="#" class="button">Ver ofertas</a>
                        </div>
                    </div>
                    <div class="company-wrap">
                        <div class="thumb" style="height: 150px!important;">
                            <a href="#">
                                <img src="{{ asset('images/default/company_img (1).jpg') }}" class="img-fluid" alt="">
                            </a>
                        </div>
                        <div class="body">
                            <h4><a href="#">Compañía X</a></h4>
                            <span>Quito, Ecuador</span>
                            <a href="#" class="button">Ver ofertas</a>
                        </div>
                    </div>
                    <div class="company-wrap">
                        <div class="thumb" style="height: 150px!important;">
                            <a href="#">
                                <img src="{{ asset('images/default/company_img (2).gif') }}" class="img-fluid" alt="">
                            </a>
                        </div>
                        <div class="body">
                            <h4><a href="#">Compañía X</a></h4>
                            <span>Quito, Ecuador</span>
                            <a href="#" class="button">Ver ofertas</a>
                        </div>
                    </div>
                    <div class="company-wrap">
                        <div class="thumb" style="height: 150px!important;">
                            <a href="#">
                                <img src="{{ asset('images/default/company_img (3).gif') }}" class="img-fluid" alt="">
                            </a>
                        </div>
                        <div class="body">
                            <h4><a href="#">Compañía X</a></h4>
                            <span>Quito, Ecuador</span>
                            <a href="#" class="button">Ver ofertas</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>