{% extends 'mail/base.html.twig' %}
 {% block content %}
     <div class="container">
         <img  src="{{ absolute_url(asset('site/images/logo.png')) }}" alt="Emplear_Logo">
         <h2>Hola Pedro</h2>
        <h3>para continuar con el proceso por favor ingresa este código de verificación</h3>

         <input id="code-number" readonly type="text" value="{{ code }}">
         <br>
         <a class="button" href="{{ absolute_url('/') }}">Verificar</a>
         <br>
         <br>
     </div>
 {% endblock %}