{% extends 'mail/base.html.twig' %}
 {% block content %}
     <div class="container">
        <h2>Notificación de Emplear.com</h2>
         <img id="logo" src="{{ absolute_url(asset('site/images/logo.png')) }}" alt="Emplear_Logo">
         <hr>
         <p>Estimado usuario el empleador Pepito ha atendido a su solicitud en la oferta de trabajo
             <em>"Se buscan programadores en Symfony"</em> y le ha enviado el siguiente mesaje</p>
         <br>
         <p><em>"Hola mi nombre es Pepito me interesan sus servicios, espero poder llegar a un acuerdo con mi propuesta de trabajo"</em></p>
     </div>
 {% endblock %}